:root {
  --input-color: #424258;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #275efe;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.select {
  position: relative;
  display: flex;
  width: 50%;

  & > span,
  .select__box {
    white-space: nowrap;
    display: block;
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .select__box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  &:focus-within {
    & > span {
      color: var(--group-color-focus);
      background: var(--group-background-focus);
      border-color: var(--group-border-focus);
    }
  }

  &__box {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    &::placeholder {
      color: var(--input-placeholder);
    }
    &:focus {
      outline: none;
      border-color: var(--input-border-focus);
    }
    .select__checked-elem {
      display: inline-block;
      padding: 0 5px;
      margin: 2px;
      background-color: var(--group-background);
    }
  }
}

.select__list {
  display: none;
  width: 50%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.show_list {
  display: block;
}
.remove-button {
  cursor: pointer;
}

.select__input {
  width: 30%;
  margin: 0 2px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
}

.select__arrow{
  position: absolute;
  right: 12px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.select__checked-item{
  background-color: var(--group-background);
}

.search__animation{
  z-index: 1000;
  position: absolute;
  left: 35%;
  top: -10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  &:after {
    content: " ";
    display: block;
    width: 45px;
    height: 45px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--input-border-focus);
    border-color: var(--group-background-focus) transparent var(--group-background-focus) transparent;
    animation: search__animation 1.2s linear infinite;
  }
}
@keyframes search__animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}