$input-color: #424258;
$input-border: #cdd9ed;
$input-background: #fff;
$input-placeholder: #cbd1dc;
$input-border-focus: #275efe;
$group-color: $input-color;
$group-border: $input-border;
$group-background: #eef4ff;
$group-color-focus: #fff;
$group-border-focus: $input-border-focus;
$group-background-focus: #678efe;

.select-block__container {
  position: relative;
  display: flex;
  width: 50%;
  box-sizing: border-box;

  & > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: $group-color;
    background: $group-background;
    border: 1px solid $group-border;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }

  &:focus-within {
    & > span {
      color: $group-color-focus;
      background: $group-background-focus;
      border-color: $group-border-focus;
    }
  }

  .select-block__box {
    display: block;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color: $input-color;
    border: 1px solid $input-border;
    background: $input-background;
    transition: border 0.3s ease;

    &::placeholder {
      color: $input-placeholder;
    }

    &:focus {
      outline: none;
      border-color: $input-border-focus;
    }

    .select-block_checked {
      display: inline-block;
      padding: 0 5px;
      margin: 2px;
      background-color: $group-background;
    }
  }
}

.select-block__dropdown {
  display: none;
  box-sizing: border-box;
  width: 50%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: $input-color;
  border: 1px solid $input-border;
  background: $input-background;
  transition: border 0.3s ease;

  &.select-block__dropdown_show {
    display: block;
  }

  .select-block_checked {
    background-color: $group-background;
  }

}

.select-block__input {
  width: 30%;
  margin: 0 2px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
}

.select-block__arrow {
  position: absolute;
  top: 10px;
  right: 16px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.select-block__search_animation {
  z-index: 1000;
  position: absolute;
  left: 35%;
  top: -10%;
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    content: " ";
    display: block;
    width: 45px;
    height: 45px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $input-border-focus;
    border-color: $group-background-focus transparent $group-background-focus transparent;
    animation: search__animation 1.2s linear infinite;
  }
}

@keyframes search__animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.select-block__remove-button svg {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  cursor: pointer;
}
